body {
	margin: 5px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #C1C3CC;
}
.temizle {
	clear: both;
}
#kapsayici {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dotted;
	border-left: 7px solid;
	border-color: #90F;
}
#kapsayiciEkle {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dotted;
	border-left: 7px solid;
	border-color: #309;
}
.kapsayiciCevap {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border: 1px dotted;
	border-left: 7px solid;
	border-color: #669;
}
#kapsayici #soruMetni {
	padding: 5px;
	float: left;
	width: 71%;
	font-size:larger;
}
#kapsayici #soruSoran {
	padding: 5px;
	float: right;
	width: 25%;
	text-align: right;
}
#kapsayici #dersAdi {
	padding: 5px;
	float: left;
	width: 71%;
	font-size: 12px;
	color:#666;
}
#kapsayici #soruTarihi {
	float: right;
	width: 25%;
	font-size: 12px;
	text-align: right;
	color:#666;
}
.kapsayiciCevap .cevapMetni {
	padding: 5px;
	float: left;
	width: 65%;
}
.kapsayiciCevap .cevaplayan {
	padding: 5px;
	float: right;
	width: 25%;
	text-align: right;
}
.kapsayiciCevap .puanVer {
	padding: 0px;
	float: left;
	width: auto;
	margin: 10px;
	color:#666;
}
.kapsayiciCevap .puanVer .evetOy {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: 0px -49px;
	height: 35px;
	width: 35px;
	display: block;
	margin-bottom:3px;
}
.kapsayiciCevap .puanVer .evetOy:hover {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -41px -49px;
	height: 35px;
	width: 35px;
	display: block;
	margin-bottom:3px;
}
.kapsayiciCevap .puanVer .hayirOy {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 35px;
	width: 35px;
	display: block;
}
.kapsayiciCevap .puanVer .hayirOy:hover {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -41px 0px;
	height: 35px;
	width: 35px;
	display: block;
}
.dogruOy{
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -83px -49px;
	height: 25px;
	width: 25px;
	display: inline-block;	
	vertical-align:middle;
}
.yanlisOy{
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -83px 0px;
	height: 25px;
	width: 25px;
	display: inline-block;	
	vertical-align:middle;
}
.kapsayiciCevap .puanlama {
	padding: 5px;
	float: left;
	width: 64%;
	font-size: 16px;
	color:#666;
}
.kapsayiciCevap .cevapTarihi {
	padding: 5px;
	float: right;
	width: 25%;
	font-size: 12px;
	text-align: right;
	color:#666;
}
pre {
	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	/* width: 99%; */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
	font-family:"Courier New", Courier, monospace;
	font-size:16px;
	color:#009;
}
