@charset "iso-8859-9";
td {
	color: #000;
}
#kapsayici {
	position:absolute;
	top:15px;
	z-index:auto;
	float: left;
	height: 410px;
	width: 630px;
	overflow: auto;
	color: #333;
	background: #fff;
	border: 1px solid #CCC;
	padding: 8px;
	overflow:none;
}
#anaMetin {
	height: 290px;
	width: 100%;
}
#navigation {
	position:absolute;
	left:655px;
	top:15px;
	width:210px;
	z-index:0;
	float: left;
	right: 5px;
	color: #333;
	font-size: 12px;
	text-align:left;
	background:#FFF;
	height: 175px;
	padding:2px;
	border: 1px solid #CCC;
}
#navigation2 {
	position:absolute;
	left:655px;
	top:215px;
	width:210px;
	height:auto;
	z-index:0;
	float: left;
	margin-right: 5px;
	right: 5px;
	overflow: auto;
	padding: 2px;
	margin-top: 3px;
	font-size: 12px;
	text-align:left;
	padding:2px;
}
#navigation2 a {
	font-size: 11px;
	text-decoration: none;
}
#navigation2 label {
	font-size: 11px;
	text-decoration: none;
}
#hazirlayan {
	font-weight: bold;
}
#sayfaNo, #sayfaSayisi {
	font-weight: bold;
	font-size: 16px;
}
#konuAdi {
	font-weight: bold;
	font-variant: small-caps;
}
#bitirmeYuzdesi {
	width: 100px;
	display: block;
	margin-top: 5px;
}
#oncekiKonu {
	position:absolute;
	left:460px;
	top:-5px;
	overflow: hidden;
	padding: 5px;
	margin-top: 3px;
	text-align:left;
	z-index: 1000;
}
#sonrakiKonu {
	position:absolute;
	left:562px;
	top:-5px;
	overflow: hidden;
	padding: 5px;
	margin-top: 3px;
	text-align:right;
	z-index: 1000;
}
#geriDugmesi {
	width: 24px;
	height: 24px;
	left:490px;
	top:1px;
	z-index:1000;
	position:absolute;
}
#ileriDugmesi {
	width: 24px;
	height: 24px;
	left:530px;
	top:1px;
	z-index:1000;
	position:absolute;
}
#hint {
	left:564px;
	top:1px;
	z-index:1000;
	position:absolute;
	display: none;
	right: 20px;
	width: 100px;
	margin-top: -4px;
	border: 1px solid #c93;
	padding: 10px 12px;
	background: #ffc url(../img/pointer.gif) no-repeat -10px 5px;
	color:#600;
	text-align:justify;
	font-size:9px;
	font-weight:bold;
}
#hint .hint-pointer {
	position: absolute;
	left: -10px;
	top: 6px;
	width: 10px;
	height: 19px;
	background: url(../img/pointer.gif) left top no-repeat;
}
#resizeMe {
	position: relative;
	width: 630px;
	height: 410px;
	margin-bottom: 5px;
}
#resizeS {
	width: 50px;
	height: 7px;
	border:	outset 1px #CCC;
	background-color: #f0f3f8;
	bottom: -36px;
	right: 0px;
	position: absolute;
	background-repeat:repeat-x;
	background-image: url(../img/angle-nxs-bkg.gif);
	background-position: center;
	overflow: hidden;
	font-size: 1px;
	cursor: ns-resize;
	cursor: n-resize;
	text-align:center;
}