td {
	color: #000;
}
#kapsayici {
	z-index: auto;
	color: #333;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	padding: 18px;
	overflow: auto;
	overflow-x: hidden;
}
#anaMetin {
	width: 100%;
}
#navigation {
	z-index: 0;
	color: #333;
	font-size: 12px;
	text-align: left;
	background: #FFF;
	heig_ht: 115px;
	padding: 10px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
#navigation2 {
	z-index: 0;
	overflow: auto;
	padding: 10px;
	margin-top: 3px;
	font-size: 12px;
	text-align: left;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
#navigation2 a {
	font-size: 11px;
	text-decoration: none;
}
#navigation2 label {
	font-size: 11px;
	text-decoration: none;
}
#hazirlayan {
	font-weight: bold;
}
#sayfaNo, #sayfaSayisi {
	font-weight: bold;
	font-size: 16px;
}
#konuAdi {
	font-weight: bold;
	font-variant: small-caps;
}
#bitirmeYuzdesi {
	width: 100px;
	display: block;
	margin-top: 5px;
}
#ileriGeri {
	z-index: 1000;
	margin: 3px;
}
#oncekiKonu {
}
#sonrakiKonu {
}
#geriDugmesi {
	
}
#ileriDugmesi {
	
}
#hint {
	left: 570px;
	top: 1px;
	z-index: 1000;
	position: absolute;
	display: none;
	right: 20px;
	width: 100px;
	margin-top: -4px;
	border: 1px solid #c93;
	padding: 10px 12px;
	background: #ffc url(../img/pointer.gif) no-repeat -10px 5px;
	color: #600;
	text-align: justify;
	font-size: 9px;
	font-weight: bold;
}
#hint .hint-pointer {
	position: absolute;
	left: -10px;
	top: 6px;
	width: 10px;
	height: 19px;
	background: url(../img/pointer.gif) left top no-repeat;
}
#resizeMe {
	position: relative;
	width: 630px;
	height: 433px;
	margin-bottom: 5px;
}
#resizeS {
	width: 20px;
	height: 7px;
	border: outset 1px #CCC;
	background-color: #f0f3f8;
	bottom: 0px;
	right: 0px;
	position: absolute;
	background-repeat: repeat-x;
	background-image: url(../img/angle-nxs-bkg.gif);
	background-position: center;
	overflow: hidden;
	font-size: 1px;
	cursor: ns-resize;
	cursor: n-resize;
	text-align: center;
}
#cevapVer {
	font-weight: bolder;
}