.rating {
	position: relative;
	border: 1px solid #ccc;
	color:#333;
	padding: 2px;
	background-color: #FFF;
}
.rating p {
	text-align: center;
	margin-bottom: 0;
	line-height: 0;
}
.rating ul {
	list-style: none;
	position: relative;
	width: 100px;
	height: 30px;
	background: transparent url("../img/stars.gif") -100px no-repeat;
	padding: 0;
	left: 50%;
	margin-left: -50px;
	overflow: hidden;
}
.rating ul.rate1 {
	background-position: -80px 6px;
}
.rating ul.rate2 {
	background-position: -60px 6px;
}
.rating ul.rate3 {
	background-position: -40px 6px;
}
.rating ul.rate4 {
	background-position: -20px 6px;
}
.rating ul.rate5 {
	background-position: 0 6px;
}
.rating li {
	margin: 0;
	padding: 0;
	float: left;
}
.rating li label {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	text-indent: -100px;
	overflow: hidden;
	z-index: 20;
}
.rating label.rate1 {
	left: 0;
}
.rating label.rate2 {
	left: 20px;
}
.rating label.rate3 {
	left: 40px;
}
.rating label.rate4 {
	left: 60px;
}
.rating label.rate5 {
	left: 80px;
}
.rating li label:hover {
	background: transparent url("../img/star.gif") left repeat-x;
	left: 0;
	z-index: 1;
}
.rating label.rate1:hover {
	width: 20px;
}
.rating label.rate2:hover {
	width: 40px;
}
.rating label.rate3:hover {
	width: 60px;
}
.rating label.rate4:hover {
	width: 80px;
}
.rating label.rate5:hover {
	width: 100px;
}
.rating img.loading {
	position: absolute;
	bottom: 15px;
	margin-left: 20%;
	left: -57px;
	z-index: 99;
}
