body {
	margin: 5px;
	background-color: #eee;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.temizle {
	clear: both;
}
#kapsayici {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #C00;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C00;
}
#kapsayici #soruMetni {
	padding: 5px;
	float: left;
	width: 71%;
	font-size:larger;
}
#kapsayici #soruSoran {
	padding: 5px;
	float: right;
	width: 25%;
	text-align: right;
}
#kapsayici #dersAdi {
	padding: 5px;
	float: left;
	width: 71%;
	font-size: 12px;
}
#kapsayici #soruTarihi {
	float: right;
	width: 25%;
	font-size: 12px;
	text-align: right;
}
.kapsayiciCevap {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #F93;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #F93;
}
.kapsayiciCevap .cevapMetni {
	padding: 5px;
	float: left;
	width: 65%;
}
.kapsayiciCevap .cevaplayan {
	padding: 5px;
	float: right;
	width: 25%;
	text-align: right;
}
.kapsayiciCevap .puanVer {
	padding: 0px;
	float: left;
	width: auto;
}
.kapsayiciCevap .puanVer .evetOy {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: 0px -49px ;
	height: 35px;
	width: 35px;
	display: block;
	margin-bottom:3px;
}
.kapsayiciCevap .puanVer .evetOy:hover {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -41px -49px ;
	height: 35px;
	width: 35px;
	display: block;
	margin-bottom:3px;
}
.kapsayiciCevap .puanVer .hayirOy {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 35px;
	width: 35px;
	display: block;
}
.kapsayiciCevap .puanVer .hayirOy:hover {
	background-image: url(../img/elOy.png);
	background-repeat: no-repeat;
	background-position: -41px 0px;
	height: 35px;
	width: 35px;
	display: block;
}

.kapsayiciCevap .puanlama {
	padding: 5px;
	float: left;
	width: 71%;
	font-size: 12px;
}
.kapsayiciCevap .cevapTarihi {
	padding: 5px;
	float: right;
	width: 25%;
	font-size: 12px;
	text-align: right;
}
.kapsayiciEkle {
	padding: 5px;
	width: 755px;
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #00F;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #00F;
}
