.chartTable {
	background-color:gray;
	padding:3px;
	margin:3px;
}
.barLabel {
	font-size:6pt;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:maroon;
	text-align:center
}
.vPoint {
	font-size:6pt;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:maroon;
	vertical-align:top;
	text-align:right;
}
.chartTitle {
	font-size:11px;
}
.emptyCell {
	background-color:#bbF;
	width:10px;
	height:3px;
}
.dataCell {
	background-color:#66F;
	width:10px;
	height:3px;
}
