# No additional options are allowed
Options None

# Deny all access by default
Order Allow,Deny

# Set index.php as index page
DirectoryIndex index.php

# If something is accessed directly, it should be trated as text (not code)
# This is a fallback directive
ForceType text/plain

# Allow access for the directory (the index page, that is)
<Files .>
Allow from all
</Files>

# Allow access for fileDownload.php
<Files fileDownload.php>
ForceType application/x-httpd-php
Allow from all
</Files>
